<div class="footer_modules">
<div class="container">
<div>
    
<div class="footer_modules_wrapper <?php echo $cosyone_footer_columns; ?>">
<?php foreach ($modules as $module) { ?>
<?php echo $module; ?>
<?php } ?>
</div>
</div>
</div>
</div>
<div class="container">